<div class="mainContainer">
  <div class="dataContainer">
    <h1>OLVIDÉ MI CONTRASEÑA</h1>
    <form action="http://localhost:8080/lostpassword" method="post">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Nueva contraseña" />
      <button>Restaurar contraseña</button>
    </form>
    {{#if code}}
      <p class="error">{{message}}</p>
    {{/if}}
  </div>
</div>