<div class="mainContainer">
  <div class="dataContainer">
    <h1>OLVIDÉ MI CONTRASEÑA</h1>
    <p>Escribe tu correo para recibir un enlace para recuperar tu contraseña.</p>
    <form action="http://localhost:8080/lostpassword" method="post">
      <input type="email" name="email" placeholder="Email" />
      <button>Enviar</button>
    </form>
    {{#if code}}
      <p class="error">{{message}}</p>
    {{/if}}
  </div>
</div>