<div class="purchasePageContainer">
  <h1>Compra finalizada con éxito</h1>
  <div class="ticketInfo">
    <h3>Tu ticket de venta:</h3>
    <h4>Fecha de compra: {{ticket.purchase_datetime}}</h4>
    <h4>Total pagado: ${{ticket.amount}}</h4>
    <h4>Código del ticket: {{ticket.code}}</h4>
    <h4>¡Gracias por tu compra!</h4>
    <a href="http://localhost:8080/">Volver al menú principal</a>
  </div>
</div>