<div class="mainProductsContainer">
  <div class="addProductContainer">
    <div class="formBoxContainer">
      <h2>Agregar producto nuevo</h2>
      <form id="addProductForm">
        <input type="text" id="pTitle" placeholder="Nombre" name="pTitle" />
        <input
          type="text"
          id="pDescription"
          placeholder="Descripción"
          name="pDescription"
        />
        <input type="text" id="pPrice" placeholder="Precio" name="pPrice" />
        <input
          type="text"
          id="pThumbnail"
          placeholder="Thumbnail"
          name="pThumbnail"
        />
        <input type="text" id="pCode" placeholder="Código" name="pCode" />
        <input type="text" id="pStock" placeholder="Stock" name="pStock" />
        <input type="text" id="pStatus" placeholder="Estado" name="pStatus" />
        <input
          type="text"
          id="pCategory"
          placeholder="Categoría"
          name="pCategory"
        />
        <input type="submit" />
      </form>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Producto
        </th>
        <th>
          Código
        </th>
        <th>
          Categoría
        </th>
        <th>
          Stock
        </th>
        <th>
          Precio
        </th>
      </tr>
    </thead>
    <tbody id="productTable">
    </tbody>
  </table>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>