<div class="mainContainer">
  <div class="dataContainer">
    <h1>REGÍSTRATE</h1>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Nombre" />
      <input type="text" name="lastName" placeholder="Apellido" />
      <input type="number" name="age" placeholder="Edad" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Contraseña" />
      <button>Registrarse!</button>
    </form></div>
</div>