<div class="mainContainer">
  <div class="dataContainer">
    <h1>RESTAURAR CONTRASEÑA</h1>
    <p>Restaurar contraseña para: <b>{{email}}</b></p>
    <form action="http://localhost:8080/restorepassword" method="post">
      <input type="hidden" name="token" value="{{token}}" />
      <input
        type="password"
        name="password"
        placeholder="Nueva contraseña"
        id="pw1"
      />
      <input
        type="password"
        name="c_password"
        placeholder="Repetir contraseña"
        id="pw2"
      />

      <p id="status">Ambas contraseñas deben coincidir y tener 6 o más
        caracteres.</p>
      <button id="resetBtn">Restaurar contraseña</button>
    </form>
    {{#if code}}
      <p class="error">{{message}}</p>
    {{/if}}
  </div>
</div>

<script src="/static/js/restorepw.js"></script>